@page
@model POC.PdfGenerator.IronPdf.Views.TestModelForCsHtml

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<ul>
    <li>Chinese: 浅色模式</li>
    <li>Ukrainian: Укрзалізниця</li>
    <li>Russian: Героев упа 73В</li>
    <li>English: Anytown, WA 99999</li>
    <li>Korean: 어두운 모드</li>
    <li>Japanese: ダークモード</li>
    <li>Arabic: وضع الظلام</li>
    <li>Hebrew: מצב כהה</li>
    <li>Spanish: Modo oscuro</li>
    <li>French: Mode sombre</li>
    <li>German: Dunkles Design</li>
    <li>Italian: Modalità scura</li>
    <li>Portuguese: Modo escuro</li>
    <li>turkish: Koyu mod</li>
    <li>Swedish: Mörkt läge</li>
    <li>Netherlands: Donkere modus</li>
</ul>
</body>
</html>